/* contentDiv */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contentDiv {
    padding: 20px;
}

.table > thead > tr > td, .table > tbody > tr > td {
    vertical-align: middle;
}

.custom-a {
    margin: 5px;
}

.tooltip {
    font-size: 14px;
}

#global-copy-textarea {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: -10;
}

table.tablesorter thead tr .header {
    background-image: url(/images/sort/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

table.tablesorter thead tr .tablesorter-headerDesc, table.tablesorter thead tr .tablesorter-headerAsc {
    background-color: #8dbdd8;
}

table.tablesorter thead tr .tablesorter-headerDesc {
    background-image: url(/images/sort/asc.gif);
}

table.tablesorter thead tr .tablesorter-headerAsc {
    background-image: url(/images/sort/desc.gif);
}