<div xmlns:th="http://www.thymeleaf.org">
    <div th:if="${#sets.isEmpty(project.untrackedSet) and #sets.isEmpty(project.modifiedSet) and #sets.isEmpty(project.missingSet)}">
        暂无文件新增、修改、删除。
    </div>
    <div th:if="${!#sets.isEmpty(project.untrackedSet)}">
        <strong>新增文件：</strong>
        <ul>
            <li th:each="file : ${project.untrackedSet}">
                <a target="_blank" th:text="${file}" data-toggle="tooltip" title="显示文件内容" th:href="${'/untrackedFileView/' + project.name + '/' + file}"></a>
            </li>
        </ul>
    </div>
    <div th:if="${!#sets.isEmpty(project.modifiedSet)}">
        <strong>修改文件：</strong>
        <ul>
            <li th:each="file : ${project.modifiedSet}">
                <a target="_blank" th:text="${file}" data-toggle="tooltip" title="显示文件修改" th:href="${'/modifiedFileView/' + project.name + '/' + file}"></a>
            </li>
        </ul>
    </div>
    <div th:if="${!#sets.isEmpty(project.missingSet)}">
        <strong>删除文件：</strong>
        <ul>
            <li th:each="file : ${project.missingSet}">
                <a target="_blank" th:text="${file}" data-toggle="tooltip" title="显示删除文件内容" th:href="${'/missingFileView/' + project.name + '/' + file}"></a>
            </li>
        </ul>
    </div>
</div>