<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Git分支管理</title>
    <style>
        body {
            overflow: hidden;
        }
        #list {
            border: none;
            overflow: hidden;
        }
    </style>

</head>
<body onresize="resize()">
<iframe src="/list" id="list"></iframe>
</body>
<script>
    function resize(){
        document.getElementById("list").width = window.innerWidth;
        document.getElementById("list").height = window.innerHeight;
    }
    resize();
</script>
</html>