<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/bootstrap-3.3.7/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/default.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/bootstrap-3.3.7/js/bootstrap.js}"></script>
    <title>Git分支管理</title>
    <script>
        if (window.location.pathname != "/") {
            window.location.href = "/";
        }
    </script>
</head>
<body>
<div class="contentDiv">
    <legend>
        <strong><a href="/">仓库列表</a></strong>
    </legend>
    <label style="font-size: 16px;">当前工作分支：<span th:if="${!#lists.isEmpty(projects)}"
                                                 th:text="${projects[0].currBranch}">master</span></label>
    <div>
        <button class="btn btn-primary custom-a" onclick="pullAll();" data-toggle="tooltip"
                title="拉取当前分支最新源代码，第一次直接拉取master分支">拉取代码
        </button>
        <button th:if="${!#lists.isEmpty(branchIntersect)}" class="btn btn-primary custom-a" data-toggle="modal"
                data-target="#createBranchModal">创建分支
        </button>
        <div th:if="${!#lists.isEmpty(branchIntersect)}" class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">切换分支
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" style="max-height: 168px;overflow: auto;">
                <li th:each="branch : ${branchIntersect}"><a
                        th:if="${!#lists.isEmpty(projects) and projects[0].currBranch != branch}" th:text="${branch}"
                        href="javascript:void(0);"
                        onclick="checkoutAll(this)"></a></li>
            </ul>
        </div>
        <button th:if="${!#lists.isEmpty(branchIntersect) and !#lists.isEmpty(projects) and projects[0].currBranch eq 'master'}"
                class="btn btn-primary custom-a" data-toggle="modal"
                data-target="#createTagModal">创建标签
        </button>
        <button th:if="${!#lists.isEmpty(branchIntersect) and !#lists.isEmpty(projects) and projects[0].currBranch ne 'master'}"
                class="btn btn-primary custom-a" data-toggle="modal"
                data-target="#pushModal">推送代码
        </button>
        <button th:if="${!#lists.isEmpty(branchIntersect) and !#lists.isEmpty(projects) and projects[0].currBranch ne 'master' and projects[0].currBranch ne 'develop'}"
                class="btn btn-danger custom-a" data-toggle="modal" data-target="#deleteBranchModal"
        >
            删除当前分支
        </button>
        <button th:if="${!#lists.isEmpty(branchIntersect) and !#lists.isEmpty(projects) and projects[0].currBranch eq 'master'}"
                class="btn btn-danger custom-a" data-toggle="modal"
                data-target="#deleteTagModal">删除标签
        </button>
    </div>
    <hr/>
    <table class="table table-hover table-bordered">
        <thead>
        <th>仓库名称</th>
        <th>文件状态</th>
        <th>最后提交id</th>
        <th>提交日志</th>
        <th>提交人</th>
        <th>操作时间</th>
        <th>操作</th>
        </thead>
        <tbody>
        <tr th:each="project : ${projects}">
            <td title="在新窗口打开GitLab项目地址"><a target="_blank" th:text="${project.name}" th:href="${project.gitLabUrl}"></a></td>
            <td>
                <span>[新增:<span th:text="${#sets.size(project.untrackedSet)}"></span>]</span>
                <span>[修改:<span th:text="${#sets.size(project.modifiedSet)}"></span>]</span>
                <span>[删除:<span th:text="${#sets.size(project.missingSet)}"></span>]</span>
                <span>[<a data-toggle="tooltip" title="查看文件状态详情" th:attr="name=${project.name}"
                          href="javascript:void(0);" onclick="showFileListDetails(this)">详情</a>]</span>
            </td>
            <td th:text="${project.lastCommitId}"></td>
            <td th:text="${project.lastCommitMessage}"></td>
            <td th:if="${project.lastCommitUser eq null}"></td>
            <td th:if="${project.lastCommitUser ne null} "
                th:text="${project.lastCommitUser + '（' + project.lastCommitEmail} + '）'"></td>
            <td th:text="${#dates.format(project.lastCommitDate,  'yyyy-MM-dd HH:mm:dd')}"></td>
            <td><a data-toggle="tooltip" title="复制远程仓库地址" th:attr="path=${project.remoteUrl}" href="javascript:void(0);"
                   onclick="copyPath(this)">复制地址</a></td>
        </tr>
        </tbody>
    </table>
    <hr/>
    <strong style="font-size: 21px;"><a href="javascript:void(0);" data-toggle="modal"
                                        data-target="#featuresLegendModal">使用指南</a></strong>
</div>
<input id="global-copy-textarea"/>
<script>

    var globalCopyTextarea = document.getElementById("global-copy-textarea");

    $("[data-toggle='tooltip']").tooltip();

    function copyPath(obj) {
        var path = $(obj).attr("path");
        globalCopyTextarea.value = path;
        globalCopyTextarea.select();
        document.execCommand("copy");
    }

    /**
     * 拉取代码
     */
    function pullAll() {
        window.location.href = "/cloneOrPull";
    }

    /**
     * 创建分支
     */
    function createBranchAll() {
        var branchName = $("#newBranchName").val();
        if (branchName != "") {
            window.location.href = "/createBranch/" + branchName;
        }
    }

    /**
     * 切换分支
     */
    function checkoutAll(obj) {
        var branchName = $(obj).html();
        if (branchName != "") {
            window.location.href = "/switchBranch/" + branchName;
        }
    }

    /**
     * 推送代码
     */
    function pushAll() {
        $('#pushModal').modal('hide');
        var pushLog = $("#inputPushLog").val();
        if (pushLog != "") {
            window.location.href = "/push/" + pushLog;
        } else {
            $('#pushErrorModal').modal('show');
        }
    }

    /**
     * 删除分支
     */
    function deleteBranchAll() {
        $('#deleteBranchModal').modal('hide');
        if ($("#currBranch").html() == $("#inputDeleteBranchName").val()) {
            window.location.href = "/deleteBranch/";
        } else {
            $('#deleteErrorModal').modal('show');
        }
    }

    /**
     * 创建标签
     */
    function createTag() {
        $('#createTagModal').modal('hide');
        var tagName = $("#inputTagName").val();
        var tagLog = $("#inputTagLog").val();
        if (tagName != "" && tagLog != "") {
            window.location.href = "/createTag/" + tagName + "/" + tagLog;
        } else {
            $('#createTagErrorModal').modal('show');
        }
    }

    /**
     * 显示项目文件详情
     * @param obj
     */
    function showFileListDetails(obj) {
        var path = $(obj).attr("name");
        $.get("/fileListDetails/" + path, function (result) {
            $("#fileListDetailsBody").html(result);
            $("[data-toggle='tooltip']").tooltip();
            $('#fileListDetailsModal').modal('show');
        });
    }

</script>
<!-- 文件状态模态框（Modal） -->
<div class="modal fade" id="fileListDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    文件状态详情
                </h4>
            </div>
            <div id="fileListDetailsBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 删除模态框（Modal） -->
<div class="modal fade" id="deleteTagModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    删除标签
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    标签删除操作后需要点击【推送代码】按钮，远程仓库才会删除。点击【确定】按钮后，如果需要撤销，请点击拉取【拉取代码】按钮撤销删除。
                </p>
                <p>
                    待删除的标签：
                </p>
                <p>
                    <select class="form-control" id="selectTagName">
                        <option value=""> - 请选择 -</option>
                        <option th:each="tag : ${tagIntersect}" th:value="${tag}" th:text="${tag}"></option>
                    </select>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 创建标签错误模态框（Modal） -->
<div class="modal fade" id="createTagErrorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    标签创建失败
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    请输入标签名和标签日志
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 创建标签模态框（Modal） -->
<div class="modal fade" id="createTagModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    创建分支
                </h4>
            </div>
            <div class="modal-body">
                <a
                        th:if="${(! #lists.isEmpty(projects)) and projects[0].currBranch != branch}" th:text="${branch}"
                        href="javascript:void(0);"
                        onclick="checkoutAll(this)"></a>
                <p>
                    工作分支：<label th:if="${! #lists.isEmpty(projects)}" th:text="${projects[0].currBranch}"></label>
                </p>
                <p>
                    标签名称：<input id="inputTagName"/>
                </p>
                <p>
                    提交日志：<input id="inputTagLog"/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createTag()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 推送代码错误模态框（Modal） -->
<div class="modal fade" id="pushErrorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    提交日志为空
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    请输入提交日志
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 推送代码模态框（Modal） -->
<div class="modal fade" id="pushModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    推送代码
                </h4>
            </div>
            <div class="modal-body">
                <a
                        th:if="${(! #lists.isEmpty(projects)) and projects[0].currBranch != branch}" th:text="${branch}"
                        href="javascript:void(0);"
                        onclick="checkoutAll(this)"></a>
                <p>
                    推送分支：<label id="pushBranchName" th:if="${! #lists.isEmpty(projects)}"
                                th:text="${projects[0].currBranch}"></label>
                </p>
                <p>
                    提交日志：<input id="inputPushLog"/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="pushAll()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 删除分支错误模态框（Modal） -->
<div class="modal fade" id="deleteErrorModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    分支名称输入错误
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    输入的分支名称错误，无法删除分支
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 删除分支模态框（Modal） -->
<div class="modal fade" id="deleteBranchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    创建分支
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    删除本地分支的同时会删除远程仓库的对应分支，是否确定删除分支：<label id="currBranch" th:text="${projects[0].currBranch}"></label>
                </p>
                <p>
                    <label>请输入分支名称：<input id="inputDeleteBranchName"/></label>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-danger" onclick="deleteBranchAll()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 创建分支模态框（Modal） -->
<div class="modal fade" id="createBranchModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    创建分支
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    分支名称：<input id="newBranchName"/>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    取消
                </button>
                <button type="button" class="btn btn-primary" onclick="createBranchAll()">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
<!-- 功能说明模态框（Modal） -->
<div class="modal fade" id="featuresLegendModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title">
                    使用指南
                </h4>
            </div>
            <div class="modal-body">
                <ul>
                    <li><strong>&nbsp;&nbsp;按钮说明：</strong></li>
                    <ol>
                        <li><strong>【拉取代码】：</strong>拉取当前分支最新代码，第一次直接克隆<strong> master </strong>分支</li>
                        <li><strong>【创建分支】：</strong>以当前分支为基础创建新的分支</li>
                        <li><strong>【切换分支】：</strong>切换到指定分支并拉取最新代码</li>
                        <li><strong>【删除分支】：</strong>删除指定分支，不允许删除<strong>&nbsp;master&nbsp;</strong>分支和<strong>&nbsp;develop&nbsp;</strong>分支
                        </li>
                        <li><strong>【推送代码】：</strong>提交并推送当前分支代码到远程仓库</li>
                        <li><strong>【创建标签】：</strong>创建并推送一个标签到远程仓库</li>
                        <li class="text-danger"><strong>【删除标签】：</strong>删除本地及远程仓库中的指定标签，不可回滚，谨慎操作</li>
                    </ol>
                    <li>
                        <hr/>
                    </li>
                    <li><strong>&nbsp;&nbsp;操作说明：</strong></li>
                    <ol>
                        <li>第一次拉取远程仓库代码时请确保仓库不为空，否者可能造成工具使用异常</li>
                        <li>不允许直接在<strong>&nbsp;master&nbsp;</strong>分支推送代码，<strong>&nbsp;master&nbsp;</strong>分支仅允许拉取代码、创建分支、切换分支、创建标签和删除标签操作
                        </li>
                        <li>新建分支后需主动推送代码到远程服务器，每次推送代码仅推送当前分支</li>
                        <li>删除分支后程序自动删除远程服务器上对应的分支</li>
                        <li>第一次切换到某分支时，程序主动从服务器拉取代码，后面再次切换到该分支不在主动拉取代码，如需更新代码，请点击【拉取代码】按钮手动拉取</li>
                        <li><strong>master&nbsp;</strong>分支和<strong>&nbsp;develop&nbsp;</strong>分支不允许删除</li>
                        <li>标签创建之后程序自动推送该标签到服务器</li>
                        <li>页面仅列取所有仓库共有的分支和标签，所有的分支创建合并、标签创建推送、代码拉取推送都为所有仓库同时进行</li>
                        <li></li>
                    </ol>
                    <li>
                        <hr/>
                    </li>
                    <li><strong>&nbsp;&nbsp;配置说明：</strong></li>
                    <ol>
                        <li>主配置文件路径，<strong>${project}/src/main/resources/application.yml&nbsp;</strong>，YAML标记语言编写，请不要出现制表符，注意空格缩进
                        </li>
                        <li>程序默认端口号，<strong>server.port = 8090</strong></li>
                        <li>默认仓库存放目录，<strong>work-home = D:\git-repository</strong></li>
                        <li>仓库配置，修改<strong>&nbsp;projects&nbsp;</strong>配置项，多个仓库之间换行并加上"- "前缀</li>
                    </ol>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">
                    确定
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>